.enlaces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  max-height: 120px;
  background-color: aqua;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 20px;
  font-family: ;
  text-align: center;
  text-decoration: none;
  color: black;
}
button {
  width: 100px;
  background-color: rgb(255, 0, 0);
  align-content: center;
}
